[class*="col-"] {
    display: inline-block;
    padding: 0px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    margin-bottom: 30px;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 45%;}
}

body{
	margin: 0px;
}
.header{
	width: 100%;
	background-color: #4A298C;
}
.header .contain{
	width: 50%;
	color: #E8E8E8;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: DejaVu Sans;
	font-size: 40px;
	margin: auto;
}
.menu{
	background-color: #FAFAFA;
}
.menu .center{
	padding-top:20px;
	width: 50%;
	margin: auto;
	font-family: DejaVu Sans;
	font-size: 20px;
	color: #171717;
	text-align: justify;
}
.menu .center .kolom {
	vertical-align: top;
	padding-top: 15px;
	font-family: DejaVu Sans;
	padding-right: 30px;
}
#contain1{
	background-color: #F2F2F2;
}
#contain2{
	background-color: #E3E3E3;
}
#contain3{
	background-color: #FFFFFF;
}
#contain4{
	background-color: #F2F2F2;
}
#contain5{
	background-color: #E3E3E3;
}
#contain6{
	background-color: #FFFFFF;
}
.center{
	width: 50%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
#judul_HTML{
}

#judul_CSS{
}

#subHTML{
	font-family: DejaVu Sans;
	font-size: 15px;
	color: #171717;
	text-align: justify;
}
#subCSS{
	font-family: DejaVu Sans;
	font-size: 15px;
	color: #171717;
	text-align: justify;
}

title-contain1{
	font-family: DejaVu Sans;
	font-size: 25px;
	color: #171717;
	text-align: justify;
	letter-spacing: 5px;
}
detail-contain1{
	font-family: DejaVu Sans;
	font-size: 15px;
	color: #171717;
    letter-spacing: 1px;
    text-align: right;
}
title-contain2{
	font-family: DejaVu Sans;
	font-size: 25px;
	color: #171717;
	text-align: justify;
	letter-spacing: 5px;
}
detail-contain2{
	font-family: DejaVu Sans;
	font-size: 15px;
	color: #171717;
    letter-spacing: 1px;
    text-align: right;
}
title-contain3{
	font-family: DejaVu Sans;
	font-size: 25px;
	color: #171717;
	text-align: justify;
	letter-spacing: 5px;
}
detail-contain3{
	font-family: DejaVu Sans;
	font-size: 15px;
	color: #171717;
    letter-spacing: 1px;
    text-align: right;
}

.footer{
	width: 100%;
	background-color: #4A298C;
	height: 500px;
}

a{
	font-family: DejaVu Sans;
	font-size: 18px;
	color: #171717;
    text-decoration: none;
}

a:hover{
	color: #4A298C;
}